<h1>Login to this awesome app</h1>
<p>Best app to this day!</p>

<form [formGroup]="loginForm">

    <div>
        <label for="username">Email/Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username..." 
        formControlName="username">

    </div>

    <div *ngIf="username.invalid && (username.dirty || username.touched)">

        <div *ngIf="username.errors.required">
            Username is required.
        </div>

        <div *ngIf="username.errors.minlength">
            Username must be at least 5 characters long.

        </div>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password..."
        formControlName="password">
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched) ">
        
        <div *ngIf="password.errors.required">
            Password is required.

        </div>
        <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.

        </div>
    </div>



    
    <button type="button" (click)="onLoginClick()">Login</button>

</form>

<a routerLink="/register">I don't have an account, Register Now</a>

