<h1>Register for an account</h1>
<p>Account is needed to use Survey Poodle</p>

<form [formGroup]="registerForm">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" 
        placeholder="Enter a username.."
        formControlName="username">
    </div>

    <div *ngIf="username.invalid && (username.dirty || username.touched)">

        <div *ngIf="username.errors.required">
            Username is required.
        </div>

        <div *ngIf="username.errors.minlength">
            Username must be at least 6 characters long.

        </div>
    </div>


    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" 
        placeholder="Enter a password.."
        formControlName="password">
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched) ">
        
        <div *ngIf="password.errors.required">
            Password is required.

        </div>
        <div *ngIf="password.errors.pattern">
            Password must be at least 6 characters long and contain at least 1 uppercase, 1 lowercase and 1 number.

        </div>
    </div>


    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" 
        placeholder="Confirm your password.."
        formControlName="confirmPassword">

    </div>

        <div *ngIf="confirmPassword.invalid && (password.dirty || password.touched) ">
        
        <div *ngIf="confirmPassword.errors.required">
            Password is required.

        </div>
        <div *ngIf="confirmPassword.errors.pattern">
            Password must be at least 6 characters long and contain at least 1 uppercase, 1 lowercase and 1 number.

        </div>
    </div>

    <button type="button" (click)="onRegisterClick()">Register</button>

    

</form>

